
h1 {
    text-align: center;
    font-size: 40px;
    font-family: fantasy;
    color: black;
    font-weight: bolder;
    letter-spacing: 20px;
    margin-top: 7em;
    font-weight: 400px;
    border: 4px solid black;
    background: gray;
    border-radius: 1em;
}

body {
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
}

div {
    font-size: 15px;
    text-align: center;
    font-family: fantasy;
    font-weight: bolder;
}

.guesses {
    color: black;
    font-size: 30px;
    margin-top: 6em;
    margin-bottom: 4em;
    margin-left: 20em;
    letter-spacing: 2px;
    font-weight: bolder;
}

img {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 3em;
    border-radius: 1em;
    border: 4px solid black;
    
}

#keyboard {
    cursor: pointer;
    font-family: fantasy;
    font-weight: bolder;
    font-size: 60px;
    border-radius: 8px;
    letter-spacing: 20px;
}

#keyboard:hover {
    background: gray;
    border-radius: 1em;
    border: 1px solid black;
}

p {
    font-family: fantasy;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 22em;
    letter-spacing: 1px;
}

.btn-info {
    text-align: center;
    cursor: pointer;
    background-color: gray;
    font-family: fantasy;
    border-radius: 8px;
    font-size: 15px;
    padding: 7px 28px;
    letter-spacing: 4px;
    border: 2px solid black;
}

/* Tablet break Point */
@media only screen and (min-width: 768px) {
    body  {
      text-align: center;
    }

    h1 {
      text-align: center;
    }

    /* closing media query */
}
